---
import MainLayout from "../layouts/MainLayout.astro";

const projects = await Astro.glob('./projects/*.{md, mdx}')
---

<MainLayout title="Projects">
	<p>Projects</p>

  <div>
    {projects.map((project) => (
      <div>
        <a href={`${project.frontmatter.slug}`}>{project.frontmatter.title}</a>
      </div>
    ))}
  </div>
</MainLayout>
